:root {
	--gris: #a0a0a1;
	--fondo: #171718;
	--rellenos: #1c1e22;
	--bordes: #26292d;
	--acento: #85bfd1;
	--blanco: #fff;
	--primario: #5c62ec;
	--hover: #3c40ae;
    --font-family: "DM Sans", sans-serif;
    --second-family: "Poppins", sans-serif;
    --third-family: "Ubuntu", sans-serif;
    // --font3: "Gotham", sans-serif;
}