* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: auto;
}

a {
  text-decoration: none;
  color: #fff;
}

li {
  list-style: none;
}

:root {
  --gris: #a0a0a1;
  --fondo: #171718;
  --rellenos: #1c1e22;
  --bordes: #26292d;
  --acento: #85bfd1;
  --blanco: #fff;
  --primario: #5c62ec;
  --hover: #3c40ae;
  --font-family: "DM Sans", sans-serif;
  --second-family: "Poppins", sans-serif;
  --third-family: "Ubuntu", sans-serif;
}

html {
  font-size: 1px;
}
@media screen and (max-width: 592px) {
  html {
    font-size: 0.8px;
  }
}
@media screen and (max-width: 392px) {
  html {
    font-size: 0.6px;
  }
}

body {
  font-size: 16rem;
  background: var(--fondo);
  color: var(--blanco);
  font-family: var(--font-family);
}

.container {
  max-width: 1196rem;
  margin-inline: auto;
  padding: 0 20rem;
}

.hero {
  margin-top: 64rem;
  margin-bottom: 128rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 140rem;
}
@media screen and (max-width: 1200px) {
  .hero {
    gap: 20rem;
  }
}
@media screen and (max-width: 992px) {
  .hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 60rem;
  }
}
.hero__image {
  border-radius: 8rem;
  max-width: 448rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.hero__image img {
  border-radius: inherit;
}
.hero__title {
  margin-bottom: 24rem;
  font-weight: 700;
  font-size: 60rem;
  line-height: 118%;
  letter-spacing: -0.01em;
  color: var(--blanco);
}
.hero__desc, .hero__email {
  font-size: 16rem;
  line-height: 175%;
  letter-spacing: 0.03em;
  color: var(--blanco);
}
@media screen and (max-width: 768px) {
  .hero__desc, .hero__email {
    font-size: 18rem;
  }
}
.hero__desc span, .hero__email span {
  font-weight: 500;
  line-height: 125%;
  letter-spacing: 0.01em;
}
.hero__email {
  display: block;
  color: var(--primario);
}

.skills {
  text-align: center;
  margin-bottom: 128rem;
}
.skills__title {
  margin-bottom: 60rem;
  font-weight: 500;
  font-size: 34rem;
  line-height: 118%;
  letter-spacing: 0.01em;
  color: var(--blanco);
}
.skills__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 24rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.skills__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: left;
  border-radius: 8rem;
  padding: 24rem;
  background: var(--rellenos);
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc((100% - 24rem * 2)/3);
          flex: 0 1 calc((100% - 24rem * 2)/3);
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.skills__item:hover {
  -webkit-box-shadow: 0 0 15px 0 rgba(255, 255, 255, 0.15);
          box-shadow: 0 0 15px 0 rgba(255, 255, 255, 0.15);
}
@media screen and (max-width: 1200px) {
  .skills__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 calc((100% - 24rem)/2);
            flex: 0 1 calc((100% - 24rem)/2);
  }
}
@media screen and (max-width: 768px) {
  .skills__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}
.skills__item-img {
  margin-bottom: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.skills__item-title {
  margin-bottom: 10rem;
  font-weight: 500;
  font-size: 34rem;
  line-height: 118%;
  letter-spacing: 0.01em;
  color: var(--blanco);
}
.skills__item-desc {
  font-weight: 400;
  font-size: 16rem;
  line-height: 175%;
  letter-spacing: 0.03em;
  color: var(--blanco);
}
@media screen and (max-width: 768px) {
  .skills__item-desc {
    font-size: 18rem;
  }
}

.footer {
  margin-bottom: 32rem;
}
.footer__line_top {
  position: relative;
  display: block;
}
.footer__line_top::before {
  content: '';
  width: 100%;
  height: 1rem;
  background: var(--bordes);
  position: absolute;
  top: -60rem;
  left: 0;
}
@media screen and (max-width: 768px) {
  .footer__line_top {
    top: 20rem;
  }
}
.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 129rem;
  margin-bottom: 64rem;
}
@media screen and (max-width: 992px) {
  .footer__info {
    gap: 80rem;
  }
}
@media screen and (max-width: 768px) {
  .footer__info {
    gap: 30rem;
  }
}
@media screen and (max-width: 592px) {
  .footer__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.footer__logo {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 24rem;
  line-height: 133%;
  color: var(--blanco);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.footer__logo:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 129rem;
}
@media screen and (max-width: 992px) {
  .footer__nav {
    gap: 80rem;
  }
}
@media screen and (max-width: 768px) {
  .footer__nav {
    gap: 30rem;
  }
}
@media screen and (max-width: 592px) {
  .footer__nav {
    gap: 50rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.footer__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24rem;
}
.footer__li.social_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16rem;
}
.footer__a {
  display: inline-block;
  font-weight: 400;
  font-size: 14rem;
  line-height: 143%;
  letter-spacing: 0.02em;
  color: var(--blanco);
}
.footer__a:not(.footer__nav_title):hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
@media screen and (max-width: 768px) {
  .footer__a {
    font-size: 18rem;
  }
}
.footer__nav_title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16rem;
  line-height: 125%;
  letter-spacing: 0.01em;
  color: var(--acento);
}
.footer__social {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.footer__social:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.footer__line_bottom {
  position: relative;
  display: block;
}
.footer__line_bottom::before {
  content: '';
  width: 100%;
  height: 1rem;
  background: var(--bordes);
  position: absolute;
  top: -17rem;
  left: 0;
}
.footer__sign {
  font-weight: 400;
  font-size: 12rem;
  line-height: 133%;
  letter-spacing: 0.03em;
  color: var(--blanco);
}

.header__line_bottom {
  position: relative;
  display: block;
}
.header__line_bottom::before {
  content: '';
  width: 100%;
  height: 1rem;
  background: var(--bordes);
  position: absolute;
  top: 65rem;
  left: 0;
}
.header__logo {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 24rem;
  line-height: 133%;
  color: var(--blanco);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.header__logo:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.header__nav {
  position: relative;
}
.header__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 23rem;
}
@media screen and (max-width: 592px) {
  .header__ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 50%;
    background: var(--gris);
    opacity: 0.9;
    color: var(--fondo);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transform: translateY(-110%);
            transform: translateY(-110%);
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
  .header__ul._active {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
}
.header__a {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16rem;
  line-height: 100%;
  color: var(--blanco);
  position: relative;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
@media screen and (max-width: 592px) {
  .header__a {
    color: var(--fondo);
    font-size: 26rem;
  }
}
.header__a:hover::before, .header__a.is_active::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.header__a::before {
  content: '';
  display: block;
  position: absolute;
  width: 96%;
  height: 3rem;
  left: 2%;
  background: var(--primario);
  bottom: -8rem;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 18rem;
  padding-bottom: 18rem;
}

.icon-menu, .icon-close {
  cursor: pointer;
  display: none;
}
@media screen and (max-width: 592px) {
  .icon-menu, .icon-close {
    display: inline-block;
  }
}
